@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

:root {
  --main-bg-color: #F9FAFF;
  --main-color: #1D2A4C;
  --date-font-color: #8F97C5;
  --blue-color: #076AFF;
}

body {
  background-color: var(--main-bg-color);
}

#root {
  display: flex;
  flex-direction: column;   
  min-height: 100vh;
  row-gap: 3rem;
  margin: 2rem;
  color: var(--main-color);
}

.date {
  color: var(--date-font-color);
}

.startDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.principalButtom {
  color: white;
  background-color: var(--blue-color);
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.3rem;
}

.principalButtom:hover {
  cursor: pointer;
}